{% assign description = collection.description %}
{% if description != blank %}
  {% if collection.title == 'Bedside Tables' or collection.handle == "side-coffee-tables" or collection.handle == "dining-tables" or collection.handle == "outdoor-sofa-lounges-set" or collection.handle == "desk" %}	
  	   <div class="collection_subcategory_description" >
            <div class="page-width">
                <div class="collection_subcategory_description_inner" {% if section.settings.color_code != blank%}style="background:{{section.settings.color_code}}"{% endif %}>
  					 <div class="collection-hero__subdescription" {% if section.settings.text_color != blank%}style="color:{{section.settings.text_color}}"{% endif %}>
    
   <div class="top_content_item for__desktop"> 
                        <div class="desc-half">{{ description | truncatewords: 17, "..." }} <span style="cursor:pointer;" class="read-more-content">[Read More]</span></div>
                        <div class="desc-full collection_description" style="display:none;">{{ description }} <span style="cursor:pointer;" class="read-less-content">[Read Less]</span></div>
                    </div>  
    
                         <div class="top_content_item for__mobile"> 
                        <div class="desc-half">{{ description | truncatewords: 9, "..." }} <span style="cursor:pointer;" class="read-more-content">[Read More]</span></div>
                        <div class="desc-full collection_description" style="display:none;">{{ description }} <span style="cursor:pointer;" class="read-less-content">[Read Less]</span></div>
                    </div>  

                       
                     </div>
                </div>  
            </div>
        </div>
  {%- endif -%}
{%- endif -%}

<script type="lazyload2">
  setTimeout(function() {
    jQuery('.collection_subcategory_description_inner .top_content_item .desc-half .read-more-content').on('click', function(){
        jQuery(this).closest('.top_content_item').find('.desc-half').hide();
        jQuery(this).closest('.top_content_item').find('.desc-full').show();
    })

    jQuery('.collection_subcategory_description_inner .top_content_item .desc-full .read-less-content').on('click', function(){
        jQuery(this).closest('.top_content_item').find('.desc-full').hide();
        jQuery(this).closest('.top_content_item').find('.desc-half').show();
    })
  })
</script>


{% schema %}
  {
    "name": "Top Description",
    "class": "collection_subcategory_top_description",
    "settings": [
		{
          "id": "color_code",
          "type": "color",
          "label": "Background Color",
		  "default":"#F9F1E5"
        },
		{
		  "type": "color",	
          "id": "text_color",
          "label": "Text Color",
		  "default":"#2C474B"	
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
